<section class="section">
  <div class="container characters-container">
    <h2 class="characters__title">Characters</h2>
    <p class="characters__desc">Meet your helpers</p>

    <div class="characters__carousel-track">
      <ul class="characters__list" data-carousel-track>
        <li
          class="characters__item characters__item--comic"
          data-carousel-slide>
          <div class="characters__imgBg characters__imgBg--comic">
            <img
              class="characters__img characters__img--comic"
              src="/img/characters/comic.png"
              alt="comic"
              width="248"
              height="300"
              loading="lazy" />
            <img
              class="characters__imgShadow"
              src="/img/characters/shadow.png"
              alt="shadow"
              width="166"
              height="12"
              loading="lazy" />
          </div>
          <h3 class="characters__subtitle characters__subtitle--comic">
            Comic
          </h3>
          <p class="characters__text">
            Brings combo-boosting energy to every match.
          </p>
        </li>
        <li
          class="characters__item characters__item--clumsy"
          data-carousel-slide>
          <div class="characters__imgBg characters__imgBg--clumsy">
            <img
              class="characters__img characters__img--clumsy"
              src="/img/characters/clumsy.png"
              alt="clumsy"
              width="279"
              height="268"
              loading="lazy" />
            <img
              class="characters__imgShadow characters__imgShadow--clumsy"
              src="/img/characters/shadow.png"
              alt="shadow"
              width="150"
              height="12"
              loading="lazy" />
          </div>
          <h3 class="characters__subtitle characters__subtitle--clumsy">
            Clumsy
          </h3>
          <p class="characters__text">
            Turns small mishaps into surprisingly useful boosts.
          </p>
        </li>
        <li
          class="characters__item characters__item--prankster"
          data-carousel-slide>
          <div class="characters__imgBg characters__imgBg--prankster">
            <img
              class="characters__img characters__img--prankster"
              src="/img/characters/prankster.png"
              alt="prankster"
              width="274"
              height="270"
              loading="lazy" />
            <img
              class="characters__imgShadow characters__imgShadow--prankster"
              src="/img/characters/shadow.png"
              alt="shadow"
              width="146"
              height="12"
              loading="lazy" />
          </div>
          <h3 class="characters__subtitle characters__subtitle--prankster">
            Prankster
          </h3>
          <p class="characters__text">
            Adds playful twists that shake up tough boards.
          </p>
        </li>
        <li
          class="characters__item characters__item--loafer"
          data-carousel-slide>
          <div class="characters__imgBg characters__imgBg--loafer">
            <img
              class="characters__img characters__img--loafer"
              src="/img/characters/loafer.png"
              alt="loafer"
              width="270"
              height="268"
              loading="lazy" />
            <img
              class="characters__imgShadow characters__imgShadow--loafer"
              src="/img/characters/shadow.png"
              alt="shadow"
              width="142"
              height="12"
              loading="lazy" />
          </div>
          <h3 class="characters__subtitle characters__subtitle--loafer">
            Loafer
          </h3>
          <p class="characters__text">
            A steady, reliable companion for consistent support.
          </p>
        </li>
      </ul>
    </div>

    <div class="characters__dots" data-carousel-dots></div>
  </div>
</section>
