<section id="faq" class="section">
  <div class="container">
    <h2 class="section__title">FAQ</h2>
    <p class="section__subtitle faq__subtitle">Quick answers</p>
    <div class="faq__content">
      <picture>
        <source
          srcset="
            /img/faq/faq-desktop@1x.png 1x,
            /img/faq/faq-desktop@2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <img
          srcset="/img/faq/faq-mobile@1x.png 1x, /img/faq/faq-mobile@2x.png 2x"
          class="faq__image"
        />
      </picture>
      <ul class="faq__list">
        <li>
          <details class="faq__question">
            <summary>
              <span class="faq__question__title"
                >What is the story behind Jolly Match 3?</span
              >
              <svg width="44" height="44" class="faq__icon">
                <use
                  href="/img/sprite.svg#icon-faq-open"
                  class="faq__icon--open"
                />
                <use
                  href="/img/sprite.svg#icon-faq-close"
                  class="faq__icon--close"
                />
              </svg>
            </summary>
            <p>Players restore a candy-themed world affected by a storm.</p>
          </details>
        </li>
        <li>
          <details class="faq__question">
            <summary>
              <span class="faq__question__title"
                >Can I play without joining a team?</span
              >
              <svg width="44" height="44" class="faq__icon">
                <use
                  href="/img/sprite.svg#icon-faq-open"
                  class="faq__icon--open"
                />
                <use
                  href="/img/sprite.svg#icon-faq-close"
                  class="faq__icon--close"
                />
              </svg>
            </summary>
            <p>Yes, teams are optional but offer extra rewards.</p>
          </details>
        </li>
        <li>
          <details class="faq__question">
            <summary>
              <span class="faq__question__title"
                >How many helper characters are there?</span
              >
              <svg width="44" height="44" class="faq__icon">
                <use
                  href="/img/sprite.svg#icon-faq-open"
                  class="faq__icon--open"
                />
                <use
                  href="/img/sprite.svg#icon-faq-close"
                  class="faq__icon--close"
                />
              </svg>
            </summary>
            <p>Currently four: Comic, Clumsy, Prankster, and Loafer.</p>
          </details>
        </li>
        <li>
          <details class="faq__question">
            <summary>
              <span class="faq__question__title"
                >Are there regular new events?</span
              >
              <svg width="44" height="44" class="faq__icon">
                <use
                  href="/img/sprite.svg#icon-faq-open"
                  class="faq__icon--open"
                />
                <use
                  href="/img/sprite.svg#icon-faq-close"
                  class="faq__icon--close"
                />
              </svg>
            </summary>
            <p>Yes, seasonal events are added throughout the year.</p>
          </details>
        </li>
        <li>
          <details class="faq__question">
            <summary>
              <span class="faq__question__title"
                >Is the game free to play?</span
              >
              <svg width="44" height="44" class="faq__icon">
                <use
                  href="/img/sprite.svg#icon-faq-open"
                  class="faq__icon--open"
                />
                <use
                  href="/img/sprite.svg#icon-faq-close"
                  class="faq__icon--close"
                />
              </svg>
            </summary>
            <p>Yes, with optional in-game purchases available.</p>
          </details>
        </li>
      </ul>
    </div>
  </div>
</section>
