<section class="section features-section" id="features">
  <div class="container">
    <h2 class="features__title">Features</h2>

    <p class="features__desc">Systems built for progress and connection</p>

    <ul class="features__list">
      <li class="features__item features__item--restoration">
        <img
          class="features__imgRestoration"
          src="/img/features/restoration.png"
          alt="features"
          width="64"
          height="64"
          loading="lazy" />

        <div>
          <h3 class="features__subtitle">World Restoration Storyline</h3>

          <p class="features__text">
            Every completed level helps rebuild the game's world.
          </p>
        </div>
      </li>
      <li class="features__item features__item--characters">
        <img
          class="features__imgCharacters"
          src="/img/features/characters.png"
          alt="features"
          width="64"
          height="64"
          loading="lazy" />

        <div>
          <h3 class="features__subtitle">Collectible Helper Characters</h3>

          <p class="features__text">
            Choose between Comic, Clumsy, Prankster, or Loafer.
          </p>
        </div>
      </li>
      <li class="features__item features__item--events">
        <img
          class="features__imgEvents"
          src="/img/features/events.png"
          alt="features"
          width="64"
          height="64"
          loading="lazy" />

        <div>
          <h3 class="features__subtitle">Team-Based Events</h3>

          <p class="features__text">
            Cooperate with players worldwide for exclusive rewards.
          </p>
        </div>
      </li>
      <li class="features__item features__item--rewards">
        <img
          class="features__imgRewards"
          src="/img/features/rewards.png"
          alt="features"
          width="64"
          height="64"
          loading="lazy" />

        <div>
          <h3 class="features__subtitle">Reward Chests & Boosters</h3>

          <p class="features__text">
            Unlock chests packed with useful puzzle-solving tools.
          </p>
        </div>
      </li>
      <li class="features__item features__item--seasonal">
        <img
          class="features__imgSeasonal"
          src="/img/features/seasonal.png"
          alt="features"
          width="64"
          height="64"
          loading="lazy" />

        <div>
          <h3 class="features__subtitle">Seasonal Content Updates</h3>

          <p class="features__text">
            New events and challenges arrive regularly.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
