<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__logo-wrapper">
        <picture>
          <source
            src="/img/logo/logo-footer-desktop.png"
            media="(min-width: 1440px)" />
          <img
            src="/img/logo/logo-footer-mobile.png"
            alt="Jolly Match 3"
            width="64"
            height="48"
            class="footer__logo" />
        </picture>
      </div>

      <ul class="footer-nav">
        <li><a href="#" class="footer-nav__link">Privacy Policy</a></li>
        <li><a href="#" class="footer-nav__link">Terms of Service</a></li>
      </ul>
    </div>

    <hr />

    <p class="footer__copyright">
      &copy; 2026 vividmotion.pro — All rights reserved.
    </p>
  </div>
</footer>
