<footer class="footer">
  <div class="container footer__container">
    <div class="footer__content">
      <a class="footer__logo-wrapper" href="./index.html">
        <picture>
          <source
            srcset="/img/logo/logo-footer-desktop.png"
            media="(width >= 1440px)" />
          <img
            src="/img/logo/logo-footer-mobile.png"
            alt="Jolly Match 3"
            width="93"
            height="69"
            class="footer__logo" />
        </picture>
      </a>

      <ul class="footer-nav">
        <li>
          <a href="./privacy-vividmotion.pro.html" class="footer-nav__link"
            >Privacy Policy</a
          >
        </li>
        <li><a href="./terms-vividmotion.pro.html" class="footer-nav__link">Terms of Service</a></li>
      </ul>
    </div>

    <hr class="footer__divider" />

    <p class="footer__copyright">
      &copy; 2026 vividmotion.pro — All rights reserved.
    </p>
  </div>
</footer>
