<section class="hero-section">
  <div class="hero__bg">
    <div class="hero__container">
      <div class="hero__reversedWrapper">
        <h1 class="hero__title">One Match. One Step Closer to Home.</h1>

        <p class="hero__subtitle">Turn every match into a fresh start</p>
      </div>

      <p class="hero__desc">
        Restore a candy world through puzzles, teamwork, and lovable helpers.
      </p>

      <load src="partials/ui/link.html" />
    </div>
  </div>

  <div class="hero__imgWrapper">
    <img
      class="hero__cloud"
      src="/img/hero/mobile/hero-cloud.png"
      alt="cloud"
      width="209"
      height="108"
      loading="lazy" />
    <img
      class="hero__smallCloud"
      src="/img/hero/mobile/hero-small-cloud.png"
      alt="big cloud"
      width="87"
      height="45"
      loading="lazy" />

    <img
      class="hero__img"
      src="/img/hero/mobile/hero-mobile.png"
      alt="hero"
      width="375"
      height="418"
      loading="lazy" />
  </div>
</section>
