.prevent-scroll {
  overflow: hidden;
}

.section {
  padding: 48px 0;
  @media screen and (min-width: 1440px) {
    padding: 88px 0;
  }
}

.section__title {
  margin-bottom: 8px;

  @media screen and (min-width: 1440px) {
    margin-bottom: 12px;
  }
}

.section__subtitle {
  margin-bottom: 24px;
  color: var(--jm3---text---card-ink);

  @media screen and (min-width: 1440px) {
    margin-bottom: 48px;
  }
}

.playstore-link {
  position: relative;
  outline: none;
  display: inline-block;
  width: fit-content;

  &::before {
    content: '';
    display: block;

    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;

    border-radius: 12px;
  }

  &:hover::before {
    border: 2px solid var(--jm3---brand---pink);
  }

  &:active::before {
    background: #f1ebff;
    z-index: -1;
  }

  &:focus::before {
    border: 3px solid var(--jm3---brand---purple);
  }
}

.playstore-link__image {
  @media screen and (min-width: 1440px) {
    width: 151px;
    height: 44px;
    border-radius: 10px;
  }
}
