.faq__subtitle {
  margin-bottom: 24px;

  @media screen and (min-width: 1440px) {
    margin-bottom: 48px;
  }
}

.faq__content {
  @media screen and (min-width: 1440px) {
    display: flex;
    flex-flow: row nowrap;
    gap: 58px;
  }
}

.faq__image {
  margin-bottom: 24px;

  @media screen and (min-width: 1440px) {
    margin-top: -27px;
  }
}

.faq__list {
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;

  flex-grow: 1;

  @media screen and (min-width: 1440px) {
    gap: 12px;
  }
}

.faq__question {
  min-height: 78px;
  padding: 16px;
  box-shadow: 0 6px 18px 0 rgba(51, 31, 64, 0.09);
  background: var(--jm3---surface---review-faq);
  border: 1px solid var(--jm3---stroke---faq);
  border-radius: 18px;

  @media screen and (min-width: 1440px) {
    padding: 16px 24px;
  }

  &:open,
  &[open] {
    background: #f8f2ff;
    padding: 16px 16px 12px;

    @media screen and (min-width: 1440px) {
      padding: 20px 24px;
      /* Uncomment to avoid moving text when opening */
      /* padding: 16px 24px; */
    }
  }

  & > summary {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 44px;

    @media screen and (min-width: 1440px) {
      min-height: 48px;
    }

    & .faq__question__title {
      display: inline-block;
      vertical-align: middle;
      max-width: 188px;

      font-family: var(--second-family);
      font-weight: 600;
      font-size: 17px;

      color: var(--jm3---text---heading);
      line-height: 23px;

      @media screen and (min-width: 1440px) {
        max-width: none;
        font-size: 24px;
        line-height: 32px;
      }
    }

    & .faq__icon {
      &:hover {
        cursor: pointer;
      }

      @media screen and (min-width: 1440px) {
        width: 48px;
        height: 48px;
      }
    }

    & .faq__icon--open {
      display: block;
    }
    & .faq__icon--close {
      display: none;
    }
  }

  &:open > summary,
  &[open] > summary {
    margin-bottom: 14px;

    @media screen and (min-width: 1440px) {
      margin-bottom: 10px;
    }

    & .faq__icon--open {
      display: none;
    }

    & .faq__icon--close {
      display: block;
    }
  }

  & > p {
    font-size: 15px;
    line-height: 22px;
    color: var(--jm3---text---body);

    @media screen and (min-width: 1440px) {
      font-size: 18px;
      line-height: 28px;
    }
  }
}
