@import 'modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-family);
  color: var(--jm3---text---body);
}

h1,
h2,
h3 {
  font-family: var(--second-family);
  color: var(--jm3---text---heading);
}

h1 {
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01em;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 20px;
}

@media screen and (min-width: 1440px) {
  body {
    font-size: 20px;
    line-height: 28px;
  }

  h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -0.01em;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32vw;
  }
}

.legal h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
}

.legal h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
}

.legal .section-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
}

.legal {
  font-size: 18px;
  line-height: 30px;
}

.back-link {
  font-size: 16px;
  line-height: 24px;
}

@media screen and (min-width: 1440px) {
  .legal h1 {
    font-size: 40px;
    line-height: 48px;
  }

  .legal h2 {
    font-size: 26px;
    line-height: 34px;
  }

  .legal .section-title {
    font-size: 20px;
    line-height: 28px;
  }

  .legal {
    font-size: 16px;
    line-height: 26px;
  }
}
