.header-section {
  box-shadow: 0 4px 18px 0 rgba(59, 41, 74, 0.1);
  background: var(--jm3---surface---header);
  border: 1px solid #eedbea;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
}

.header-dropdown {
  &[data-visible='close'] {
    display: none;
  }
}

.header__burger-menu-btn {
  display: block;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}
